<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Message App</title>
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <div class="messages-body">
    </div>
    <form id="form" action="">
      <input id="input" autocomplete="off" /><button class="send">Send</button>
    </form>

    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script>
      const username = "<%= username %>"

      const socket = io();

      const form = document.querySelector("form");
      const input = document.querySelector("input");
      const messages = document.querySelector(".messages");
      const send = document.querySelector(".send");

      form.addEventListener("submit", (event) => {
        event.preventDefault();
        if (input.value) {
          socket.emit("message", username, input.value);
          input.value = "";
        }
      });

      socket.on("message", (uname, message) => {
        const date = new Date();
        let dateHours = date.getHours();
        let dateMinutes = date.getMinutes();
        for(let i = 0; i < 10; i++) {
          if(i == dateMinutes) {
            dateMinutes = "0" + dateMinutes;
          }
          if(i == dateHours) {
            dateHours = "0" + dateHours;
          }
        }

        const body = document.querySelector(".messages-body");
        const messageWrapper = document.createElement("div");
        messageWrapper.classList.add("message-wrapper");
        body.appendChild(messageWrapper);

        const profilePictureWrapper = document.createElement("div");
        profilePictureWrapper.classList.add("profile-picture-wrapper");
        messageWrapper.appendChild(profilePictureWrapper);

        const profilePicturePlaceholder = document.createElement("div");
        profilePicturePlaceholder.classList.add("profile-picture-placeholder");
        profilePictureWrapper.appendChild(profilePicturePlaceholder);

        const messageContent = document.createElement("div");
        messageContent.classList.add("message-content");
        const usernameDateWrapper = document.createElement("div");
        usernameDateWrapper.classList.add("username-date-wrapper");
        messageContent.appendChild(usernameDateWrapper)
        const profileUsername = document.createElement("h4");
        profileUsername.textContent = uname;
        profileUsername.classList.add("profile-username");
        usernameDateWrapper.appendChild(profileUsername);
        const messageDate = document.createElement("p");
        messageDate.textContent = `${dateHours}:${dateMinutes}`;
        messageDate.classList.add("message-date");
        usernameDateWrapper.appendChild(messageDate);

        const messageText = document.createElement("p");
        messageText.textContent = message;
        messageText.classList.add("message");
        
        messageContent.appendChild(messageText);
        messageWrapper.appendChild(messageContent);

        window.scrollTo(0, document.body.scrollHeight);
      });
    </script>
  </body>
</html>
